*{
    box-sizing: border-box;
}
img{
    max-width: 50%;
    height: auto;
}
#output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 30px;
    width: 25%;
    height: 30px;
    border-color: grey;
    box-shadow: 2px 2px 5px lightgray;
    text-align: center;
}
button{
    width: 5%;
    border-radius: 30px;
    height: 30px;
    border-color: grey;
}
#txt{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}